
# Ignore these dirs anywhere
OLDs/
.vscode/
_exports/
_analysis/
_source_audio/
_TEST_exports/
_temp/
_models/

.directory
fail.html
*.log

# Python
__pycache__/
*.py[cod]

# Data
mongodb-volume/*
source_audio/*
