
# Ignore these dirs anywhere
OLDs/
.vscode/
_exports/
_source_audio/
_TEST_exports/
_data/
_temp/
local/ai.md

fail.html
*.log

# Python
__pycache__/
*.py[cod]

# Data
mongodb-volume/*
source_audio/*
