<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Segment{{ segment }}</title>
	<link rel="stylesheet" href="/static/styles.css?{{ cacheb }}">
</head>


<body id="segment">

	<div id="wrapper">
		<h1 id="title"></h1>
		<a id="save">Save</a>

		<img src="" id="spectrogram">

		<figure>
<!--			<figcaption>figcaption</figcaption>-->
			<audio
					id="audio"
					controls
					loop="true"
					preload="auto"
					src="">
							Your browser does not support the
							<code>audio</code> element.
			</audio>
		</figure>


		<!--FORM-->


		<form id="form">

			<div id="alert"></div>

			<!-- TODO: Make sure that each form element has name == id == value-->
			<label><input name="tags" id="alpha" type="checkbox" value="alpha" />Alpha</label>
			<label><input name="tags" id="beta" type="checkbox" value="beta" />Beta</label>

			<label>Keywords:  
				<input name="keywords" id="keywords" type="text" value="" /> 
			</label>

		</form>


	</div>

	
	<script src="/static/jquery-3.4.1.js?"></script>
	<script src="/static/segment.js?{{ cacheb }}"></script>
</body>
</html>