<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Segment{{ segment }}</title>
	<link rel="stylesheet" href="/static/styles.css?{{ cacheb }}">
	<script>
		let file_idGlobal = "{{ file_id }}";
	</script>
</head>


<body id="segment">

	<div id="wrapper1">
		<h1 id="title"></h1>

		<img src="" id="spectrogram">

		<figure>
<!--			<figcaption>figcaption</figcaption>-->
			<audio
					id="audio"
					controls
					loop="true"
					preload="auto"
					src="">
							Your browser does not support the
							<code>audio</code> element.
			</audio>
		</figure>


	</div>
	<div id="wrapper2">

		<div id="alertwrapper">
			<div id="alert"></div>
		</div>

		<div id="savebuttons">
			<a id="save">Save (s)</a>
			<a id="carry">Carry on (c)</a>
		</div>
		
		<form id="form">

			<!-- TODO: Make sure that each form element has name == id == value-->
			<div id="tags">
				<div id="tags1">
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Bat</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Mammal</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Other_animal</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Mystery</label>
					<p>&nbsp;</p>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Loud_rain (r)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Loud_wind (y)</label>
				</div>
				<div id="tags2">
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Migrant_1 (m)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Migrant_multi (Shift-m)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Wander_1 (w)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Wander_multi (Shift-w)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Local_individual (l)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Local_chorus (Shift-l)</label>
				</div>
				<div id="tags3">
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Faint (f)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Strong (Shift-f)</label>
					<p>&nbsp;</p>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Silence (i)</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Single_noise (n)</label>
					<p>&nbsp;</p>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Ignore</label>
				</div>
				<div id="tags4">
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Loud_plane</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Loud_vehicle</label>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Noise</label>
					<p>&nbsp;</p>
					<label><input name="tags" class="tag" id="" type="checkbox" value="" />Human_speech</label>
				</div>
			</div>
			<div id="keywords1">
				<label>Keywords:  
					<input name="keywords" id="keywords" type="text" value="" /> 
				</label>
			</div>

		</form>


	</div>

	
	<script src="/static/jquery-3.4.1.js?"></script>
	<script src="/static/segment.js?{{ cacheb }}"></script>
</body>
</html>